html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  flex: 1;
  background-image: linear-gradient(180deg, #eee, #d0f1f6 10px, #fff);
}

.container {
  max-width: 960px;
}

textarea {
  height: 250px;
}
